{% extends "user.html" %}

{% block title %}Sign Up{% endblock %}
{% block page_title %}<span>Sign Up</span>{% endblock %}

{% block content %}
  <form class="offset-by-six sign-in" method="post">
    {% csrf_token %}
    <label for="email">Email</label>
    {{ form.email }}
    {{ form.email.errors }}
    <label for="password">Password</label>
    {{ form.password }}
    {{ form.password.errors }}
    <label for="repeat_password">Confirm password</label>
    {{ form.repeat_password }}
    {{ form.repeat_password.errors }}
    <input type="submit" value="Sign up" /> or <a href="{% url 'signin' %}">Sign in</a>
  </form>
{% endblock %}

