extends main

block content
  table.notes
    tr
      th.note
        | Note
        a.sort_arrow(href='#') ↑
        a.sort_arrow(href='#') ↓
      th
        | Pad
      th.date
        | Last modified
        a.sort_arrow(href='#') ↑
        a.sort_arrow(href='#') ↓
      tr
        td
          a(href='#') My sport activites
        td.pad No pad
        td.hidden-text.date Today at 10:51
      tr
        td
          a(href='#') February reports
        td.pad
          a(href='#') Pad
        td.hidden-text.date Yesterday
      tr
        td
          a(href='#') Budget plan
        td.pad
          a(href='#') Pad
        td.hidden-text.date 2 days ago
      tr
        td
          a(href='#') Visit Agenda for all customers
        td.pad
          a(href='#') Pad
        td.hidden-text.date 02 Feb. 2013
      tr
        td
          a(href='#') Gifts
        td.pad
          a(href='#') Pad
        td.hidden-text.date 29 Jan. 2013
      tr
        td
          a(href='#') Calendar events
        td.pad
          a(href='#') Pad
        td.hidden-text.date 29 Jan. 2013
      tr
        td
          a(href='#') TV series
        td.pad
          a(href='#') Pad
        td.hidden-text.date 01 Dec. 2012
      tr
        td
          a(href='#') Daily post
        td.pad
          a(href='#') Pad
        td.hidden-text.date 28 Nov. 2012
  a.button(href='#') New note
