extends layout

block content_area
  .three.columns
    h4#logo My pads
    nav
      if pads.length
        ul
          each pad in pads
            li
              a(href='/pads/#{pad.id}') #{pad.name}
      else
        p.empty= 'No pads yet'
      hr
      a(href='/pads/create') New pad
  .thirteen.columns.content-area
    +render_flash_messages(flash_messages)
    block content
