extends layout

block content_area
  .three.columns
    h4#logo My pads
    nav
      ul
        li
          a(href='#whatAndWhy') Business
        li
          a(href='#grid') Personal
        li
          a(href='#typography') Sport
        li
          a(href='#buttons') Diary
        li
          a(href='#forms') Drafts
      hr
      a(href='#') New pad
  .thirteen.columns.content-area
    block content


