{block title}{$note->name}{/block}
{block header}{$note->name}{/block}
{block content}
	{form editNoteForm 'class' => 'note'}
	{label name /}
	{input name}
	{label text /}
	{input text}
	{label pad /}
	{input pad}
	{input submit}
	{/form}
{/block}
