{block title}New note{/block}
{block header}New note{/block}
{block content}
	{form newNoteForm 'class' => 'note'}
	{label name /}
	{input name}
	{label text /}
	{input text}
	{label pad /}
	{input pad}
	{input submit}
	{/form}
{/block}
