<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">

<title th:inline="text">Notejam: [[#{forgot.title}]]</title>

<body>

	<h1 th:inline="text">[[#{forgot.title}]]</h1>

	<div th:fragment="content">
		<form class="offset-by-six sign-in" th:object="${forgotPassword}"
			th:action="@{#}" method="post">
			<div class="alert-area">
				<div th:if="${param.success}" class="alert alert-success"
					th:text="#{forgot.success}">Check your email.</div>
			</div>
			<label th:inline="text"> [[#{forgot.email}]] <input
				type="email" th:field="*{email}" th:errorclass="red" />
			</label>
			<ul class="errorlist" th:if="${#fields.hasErrors('email')}">
				<li th:each="err : ${#fields.errors('email')}" th:text="${err}" />
			</ul>
			<input type="submit" th:value="#{forgot.generate}" />
		</form>
	</div>

</body>
</html>