<form method="POST" class="note">
    {{ form.hidden_tag() }}
    <label for="regularInput">Name</label>
    {{ form.name }}
    {% if form.errors.name %}
        <ul class="errorlist">
            {% for error in form.errors.name %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="regularInput">Text</label>
    {{ form.text }}
    {% if form.errors.text %}
        <ul class="errorlist">
            {% for error in form.errors.text %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="regularInput">Pad</label>
    {{ form.pad }}
    {% if form.errors.pad %}
        <ul class="errorlist">
            {% for error in form.errors.pad %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button type="submit">Save</button>
</form>

