{% extends "base.html" %}

{% block title %}All notes ({{ notes|length }}){% endblock %}
{% block page_title %} <span>All notes ({{ notes|length }})</span> {% endblock %}

{% block content %}
  {% if notes %}
    <table class="notes">
      <tr>
        <th class="note">Note <a href="/?order=name" class="sort_arrow" >&darr;</a><a href="/?order=-name" class="sort_arrow" >&uarr;</a></th>
        <th>Pad</th>
        <th class="date">Last modified <a href="/?order=updated_at" class="sort_arrow" >&darr;</a><a href="/?order=-updated_at" class="sort_arrow" >&uarr;</a></th>
      </tr>
      {% for note in notes %}
      <tr>
        <td><a href="{{ url_for('view_note', note_id=note.id) }}">{{ note.name }}</a></td>
        <td class="pad">
          {% if note.pad %}
            <a href="{{ url_for('pad_notes', pad_id=note.pad.id) }}">{{ note.pad.name }}</a>
          {% else %}
            No pad
          {% endif %}
        </td>
        <td class="hidden-text date">{{ note.updated_at|smart_date }}</td>
      </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="empty">Create your first note.</p>
  {% endif %}
  <a href="{{ url_for('create_note') }}" class="button">New note</a>
{% endblock %}


