{block title}Frogot password?{/block}
{block header}Forgot password?{/block}
{block content}
	<form class="offset-by-six sign-in" n:name="forgottenPasswordForm">
		<label n:name="email">Email</label>
		<input n:name="email">
		<input n:name="submit">
	</form>
{/block}
