{% form_theme form _self %}

{% block form_errors %}
  {% spaceless %}
    {% if errors|length > 0 %}
      <ul class="errorlist">
        {% for error in errors %}
          <li>{{ error.message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endspaceless %}
{% endblock form_errors %}
