{block title}Account settings{/block}
{block header}Account settings{/block}
{block content}
	<form class="offset-by-six sign-in" n:name="accountSettingsForm">
		<label n:name="current">Current password</label>
		<input n:name="current">
		<label n:name="new">New Password</label>
		<input n:name="new">
		<label n:name="confirm">Confirm New Password</label>
		<input n:name="confirm">
		<input n:name="submit">
	</form>
{/block}
