{block title}Frogot password?{/block}
{block header}Forgot password?{/block}
{block content}
	{form forgottenPasswordForm 'class' => 'offset-by-six sign-in'}
	{label email /}
	{input email}
	{input submit}
	{/form}
{/block}
