<div class="sixteen columns">
	<div class="sign-in-out-block">
		{$user->identity->data['email']}:&nbsp; <a href="{plink Account:settings}">Account settings</a>&nbsp;&nbsp;&nbsp;<a href="{plink Sign:out}">Sign out</a>
	</div>
</div>
