{% extends "base.html" %}

{% block left_bar %}{% endblock %}
{% block breadcrumbs %}<span>Sign Up</span>{% endblock %}

{% block content %}
    <form class="offset-by-six sign-in" method="post">
        {% csrf_token %}
        <label for="regularInput">Email</label>
        {{ form.email }}
        {{ form.email.errors }}
        <label for="regularInput">Password</label>
        {{ form.password }}
        {{ form.password.errors }}
        <label for="regularInput">Confirm password</label>
        {{ form.repeat_password }}
        {{ form.repeat_password.errors }}
        <button type="submit">Sign Up</button>
    </form>
{% endblock %}
