{% extends "base.html" %}

{% block left_bar %}{% endblock %}

{% block content %}
    <div class="thirteen columns content-area">
        <form class="offset-by-six sign-in" method="post">
            <label for="regularInput">Email</label>
            <input type="text" id="regularInput">
            <label for="regularInput">Password</label>
            <input type="password" id="regularInput">
            <label for="regularInput">Confirm password</label>
            <input type="password" id="regularInput">
            <button type="submit">Sign Up</button>
        </form>
    </div>
{% endblock %}
