{% extends "base.html" %}

{% block title %}{{ pad.name }} ({{ pad.notes.count() }}){% endblock %}
{% block page_title %}<span>{{ pad.name }} ({{ pad.notes.count() }})</span>{% endblock %}

{% block content %}
  {% if notes %}
    <table class="notes">
      <tr>
        <th>Note
          <a href="{{ url_for('pad_notes', pad_id=pad.id) }}?order=name" class="sort_arrow" >&darr;</a><a href="{{ url_for('pad_notes', pad_id=pad.id) }}?order=-name" class="sort_arrow" >&uarr;</a></th>
        <th class="date">Last modified <a href="{{ url_for('pad_notes', pad_id=pad.id) }}?order=updated_at" class="sort_arrow" >&darr;</a><a href="{{ url_for('pad_notes', pad_id=pad.id) }}?order=-updated_at" class="sort_arrow" >&uarr;</a></th>
      </tr>
      {% for note in notes %}
        <tr>
          <td><a href="{{ url_for('view_note', note_id=note.id) }}">{{ note.name }}</a></td>
          <td class="hidden-text date">{{ note.updated_at|smart_date }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="empty">Create first note in the pad.</p>
  {% endif %}
  <a href="{{ url_for('create_note') }}?pad={{ pad.id }}" class="button">New note</a>&nbsp;
  <a href="{{ url_for('edit_pad', pad_id=pad.id) }}">Pad settings</a>
{% endblock %}
