{% extends 'base.html.twig' %}
{% block breadcrumbs %}<span>Create a pad</span>{% endblock %}
{% block body %}
    <form class="pad">
        <label for="regularInput">Name</label>
        <input type="text" class="six" id="regularInput">
        <button type="submit">Save</button>
    </form>

{% endblock %}
