<div class="three columns">
    <h4 id="logo">My pads</h4>
    <nav>
        <ul>
            {% for pad in pads %}
                <li><a href="{{ path('pad_notes', {'id': pad.id})}}">{{ pad.name }}</a></li>
            {% endfor %}
        </ul>
        <hr />
        <a href="{{ path('create_pad') }}">Add pad</a>
    </nav>
</div>
