{% extends "base.html" %}

{% block breadcrumbs %}<span>Change password</span>{% endblock %}

{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    <label for="regularInput">Old Password</label>
    {{ form.old_password }}
    {% if form.errors.old_password %}
        <ul class="errorlist">
            {% for error in form.errors.old_password %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="regularInput">New Password</label>
    {{ form.new_password }}
    {% if form.errors.new_password %}
        <ul class="errorlist">
            {% for error in form.errors.new_password %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <label for="regularInput">New Password</label>
    {{ form.repeat_new_password }}
    {% if form.errors.repeat_new_password %}
        <ul class="errorlist">
            {% for error in form.errors.repeat_new_password %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <button type="submit">Save</button>
</form>
{% endblock %}

