{% extends "base.html" %}
{% from "_helpers.html" import render_field %}

{% block breadcrumbs %}<span>Sign Up</span>{% endblock %}

{% block left_bar %}{% endblock %}
{% block content_class %}sixteen columns content-area{% endblock %}
{% block content %}
<form method="POST" class="offset-by-six sign-in">
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.repeat_password) }}
    <button type="submit">Sign Up</button>
</form>
{% endblock %}

