extends ../user

block title
  | Forgot password?

block content
  form.offset-by-six.sign-in(method='POST')
    label(for='email') Email
    input#email(type='text', name='email')
    +error('email', errors)
    input(type='submit', value='Get new password')
