{% extends 'base.html.twig' %}

{% block title %}{{ note.name }}{% endblock %}
{% block page_title %}<span>{{ note.name }}</span>{% endblock %}

{% block body %}
  <p>Are you sure you want to delete {{ note.name }}?</p>
  <form method="POST">
    <button type="submit" class="red">Yes, delete I want to delete it</button>&nbsp;
    <a href="{{ path('view_note', {'id': note.id})  }}">Cancel</a>
  </form>
{% endblock %}

