{extends '../@user.latte'}

{block title}Account Settings{/block}
{block page_title}<span>Account Settings</span>{/block}

{block body}
	<form n:name="settings-form" class="offset-by-six sign-in">
		{control $form ownerrors}
		{control $form body}
	</form>
