{block title}Account settings{/block}
{block header}Account settings{/block}
{block content}
	<form class="offset-by-six sign-in" n:name="accountSettingsForm">
		{label current /}
		{input current}
		{label new /}
		{input new}
		{label confirm /}
		{input confirm}
		{input submit}
	</form>
{/block}
