{block title}Account settings{/block}
{block header}Account settings{/block}
{block content}
	<form class="offset-by-six sign-in" n:name="accountSettingsForm">
		<div class="alert-area" n:if="$form->hasErrors()">
			<div n:foreach="$form->errors as $error" class="alert alert-error">{$error}</div>
		</div>
		{label current /}
		{input current}
		{label new /}
		{input new}
		{label confirm /}
		{input confirm}
		{input submit}
	</form>
{/block}
