{% load pad_tags %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{% block title %}Notejam{% endblock %}</title>
            
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
    
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/skeleton.css">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/tables.css">
	<link rel="stylesheet" href="/static/css/style.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    {% block extrahead %}{% endblock %}
</head>
<body>
	<div class="container">
        <div class="sixteen columns">
            <div class="sign-in-out-block">
                {% if request.user.is_authenticated %}
                    {{ request.user.email}}:&nbsp; <a href="#">Account settings</a>&nbsp;&nbsp;&nbsp;<a href="{% url signout %}">Sign out</a>
                {% else %}
                    <a href="{% url signup %}">Sign up</a>&nbsp;&nbsp;&nbsp;<a href="{% url signin %}">Sign in</a>
                {% endif %}
            </div>
        </div>
        <div class="sixteen columns">
            <h1 class="bold-header">notejam 
                {% block breadcrumbs %}
                    <span>8 notes</span>
                {% endblock %}
            </h1>
        </div>
        {% block left_bar %}
        <div class="three columns">
            <h4 id="logo">My pads</h4>
            <!-- pad template tag -->
            <nav>
                <ul>
                    {% get_pads as my_pads %}
                    {% for pad in my_pads %}
                        <li><a href="{% url view_pad_notes pk=pad.id %}">{{ pad.name }}</a></li>
                    {% endfor %}
                </ul>
                <hr />
                <a href="#">Add pad</a>
            </nav>
            <!-- end of pad template tag -->
        </div>
        {% endblock %}
        {% block content %}
            <div class="thirteen columns content-area">
                <table class="notes">
                    <tr>
                        <th>Note <a href="#" class="sort_arrow" >&uarr;</a><a href="#" class="sort_arrow" >&darr;</a></th>
                        <th class="date">Last modified <a href="#" class="sort_arrow" >&uarr;</a><a href="#" class="sort_arrow" >&darr;</a></th>
                    </tr>
                    <tr>
                        <td><a href="#">My sport activites</a></td>
                        <td class="hidden-text date">Today at 10:51</td>
                    </tr>
                    <tr>
                        <td><a href="#">February reports</a></td>
                        <td class="hidden-text date">Yesterday</td>
                    </tr>
                    <tr>
                        <td><a href="#">Budget plan</a></a></td>
                        <td class="hidden-text date">Feb 10 2013</td>
                    </tr>
                    <tr>
                        <td><a href="#">Visit Agenda for all customers</a></a></td>
                        <td class="hidden-text date">Feb 02 2013</td>
                    </tr>
                    <tr>
                        <td><a href="#">Gifts</a></a></td>
                        <td class="hidden-text date">Jan 29 2013</td>
                    </tr>
                    <tr>
                        <td><a href="#">Calendar events</a></a></td>
                        <td class="hidden-text date">Jan 29 2013</td>
                    </tr>
                    <tr>
                        <td><a href="#">TV series</a></a></td>
                        <td class="hidden-text date">Dec 01 2012</td>
                    </tr>
                    <tr>
                        <td><a href="#">Daily post</a></a></td>
                        <td class="hidden-text date">Nov 28 2012</td>
                    </tr>
                </table>
                <button>Create a note</button>
            </div>
        {% endblock %}
        <hr class="footer" />
        <footer>
            <div class="footer">2013, notejam project</div>
        </footer>
	</div><!-- container -->
    <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>


