
<form th:action="@{#}" method="post">
    <div class="alert-area">
		<div th:if="${param.error}" class="alert alert-error" th:text="#{login.error}">
	        Invalid username and password.
		</div>
		<div th:if="${param.logout}" class="alert alert-success" th:text="#{login.logout}"> 
            You have been logged out.
        </div>
		<div th:if="${param.signup}" class="alert alert-success" th:text="#{login.signup}"> 
            You have been registered. Now log in.
        </div>
	</div>
	<label th:inline="text">
	   [[#{login.email}]] <input type="text" name="username" />
	</label>
	<label th:inline="text">
	   [[#{login.password}]] <input type="password" name="password" />
	</label>
	<input type="submit" />
</form>
