extends ../main

block title
  | #{note.name}

block content
  p Are you sure you want to delete the note?
  form(method='post')
    input(type='submit', class="red", value='Yes, delete I want to delete this note')
    |  &nbsp;
    a(href='/notes/#{note.id}') Cancel

