extends ../main

block content
  table.notes
    tr
      th.note
        | Note
        a.sort_arrow(href='#')  ↑
        a.sort_arrow(href='#') ↓
      th
        | Pad
      th.date
        | Last modified
        a.sort_arrow(href='#')  ↑
        a.sort_arrow(href='#') ↓
    each note in notes
      tr
        td
          a(href='#') #{note.name}
        td.pad
          if note.pad
            a(href='#') #{note.pad.name}
          else
            | No pad
        td.hidden-text.date #{note.updatedAt()}
  a.button(href='/notes/create') New note

