{% extends "base.html" %}

{% block breadcrumbs %} <span>{{ notes.count }} notes</span> {% endblock %}
{% block content %}
<div class="thirteen columns content-area">
    <table class="notes">
        <tr>
            <th>Note <a href="/?order=name" class="sort_arrow" >&darr;</a><a href="/?order=-name" class="sort_arrow" >&uarr;</a></th>
            <th class="date">Last modified <a href="/?order=updated_at" class="sort_arrow" >&darr;</a><a href="/?order=-updated_at" class="sort_arrow" >&uarr;</a></th>
        </tr>
        {% for note in notes %}
        <tr>
            <td><a href="{% url edit_note pk=note.id %}">{{ note.name }}</a></td>
            <td class="hidden-text date">Today at 10:51</td>
        </tr>
        {% endfor %}
    </table>
    <button>Create a note</button>
</div>
{% endblock %}

