{% extends "base.html" %}

{% block breadcrumbs %} <span>{{ notes.count }} notes</span> {% endblock %}
{% block content %}
<div class="thirteen columns content-area">
        {% if notes %}
            <table class="notes">
                <tr>
                    <th>Note <a href="/?order=name" class="sort_arrow" >&darr;</a><a href="/?order=-name" class="sort_arrow" >&uarr;</a></th>
                    <th class="date">Last modified <a href="/?order=updated_at" class="sort_arrow" >&darr;</a><a href="/?order=-updated_at" class="sort_arrow" >&uarr;</a></th>
                </tr>
                {% for note in notes %}
                    <tr>
                        <td><a href="{% url view_note pk=note.id %}">{{ note.name }}</a></td>
                        <td class="hidden-text date">Today at 10:51</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="empty">You don't have any notes</p>
        {% endif %}
    <a href="{% url create_note %}" class="button">Create a note</a>
</div>
{% endblock %}

