<% content_for :page_title do %>All notes<% end %>
<table class="notes">
    <tr>
        <th class="note">Note <a href="#" class="sort_arrow">↑</a><a href="#" class="sort_arrow">↓</a></th>
        <th>Pad</th>
        <th class="date">Last modified <a href="#" class="sort_arrow">↑</a><a href="#" class="sort_arrow">↓</a></th>
    </tr>
    <tr>
        <td><a href="#">My sport activites</a></td>
        <td class="pad">No pad</td>
        <td class="hidden-text date">Today at 10:51</td>
    </tr>
    <tr>
        <td><a href="#">February reports</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Yesterday</td>
    </tr>
    <tr>
        <td><a href="#">Budget plan</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Feb 10 2013</td>
    </tr>
    <tr>
        <td><a href="#">Visit Agenda for all customers</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Feb 02 2013</td>
    </tr>
    <tr>
        <td><a href="#">Gifts</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Jan 29 2013</td>
    </tr>
    <tr>
        <td><a href="#">Calendar events</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Jan 29 2013</td>
    </tr>
    <tr>
        <td><a href="#">TV series</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Dec 01 2012</td>
    </tr>
    <tr>
        <td><a href="#">Daily post</a></td>
        <td class="pad"><a href="#">Pad</a></td>
        <td class="hidden-text date">Nov 28 2012</td>
    </tr>
</table>
