extends ../main

block title
  | #{pad.name}

block content
  form(method='POST')
    label(for='name') Name
    input#name(type='text', name='name', value='#{pad.name}')
    +error('name', errors)
    input(type='submit', value='Save')
    div
      a.red(href="/pads/#{pad.id}/delete") Delete pad

