/*
* Skeleton V1.0.3
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 7/17/2011
*/

/* Documentation Styles
================================================== */
div.container {
	padding-top: 40px;
}

/* Doc nav */
nav {
	width: 160px;
}

#logo, .bold-header {
	margin-bottom: 30px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
	color: #555;
	font-weight: bold;
}

.bold-header span {
	font-weight: normal;
	font-size: 23px;
}

.bold-header a.header {
	text-decoration: none;
	color: inherit;
}

.bold-header span.jam {
	font-size: 46px;
	line-height: 50px;
}

nav ul {
	float: left;
}

nav ul li {
	display: block;
	margin-bottom: 10px;
}

nav ul li a, nav ul li a:visited, nav ul li a:active {
	font-size: 14px;
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover, nav ul li a:focus {
	color: #222;
}

header h1 {
	font-size: 52px;
	line-height: 61px;
	letter-spacing: -1px;
	font-weight: normal;
	font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
}

hr.large {
	border: none;
	height: 8px;
	background: #ebebeb;
	margin: 50px 0;
}

div.doc-section {
	margin: 30px 0;
}

#whatAndWhy .row {
	padding: 30px 0 0;
}

#typography blockquote {
	margin-top: 20px;
}

.hidden-code a {
	font-size: 12px;
	color: #999;
}

.hidden-code>div {
	display: none;
}

/* Grid */
#grid .column, #grid .columns {
	background: #ddd;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	color: #555;
	font-size: 12px;
	font-weight: bold;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

#grid .column:hover, #grid .columns:hover {
	background: #bbb;
	color: #333;
}

#grid .example-grid {
	overflow: hidden;
}

.post-button-note, .post-button-note a {
	font-size: 11px;
	color: #999;
}

#examples .four.columns a {
	text-decoration: none;
}

#examples .four.columns a:hover {
	text-decoration: underline;
}

.resize {
	position: fixed;
	bottom: 0;
	right: 0;
	height: 80px;
	width: 80px;
	background: url(images/resize.png);
}

img {
	max-width: 100%;
	height: auto;
}

.gist-meta {
	display: none !important;
}

ul ul ul li {
	margin-bottom: 3px;
}

.twitter-share-button {
	margin-bottom: -18px;
}

/* Table stylesheets */
table {
	width: 100%;
	border-collapse: collapse;
}

table th, table td {
	padding: 10px 10px 9px;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
}

table td {
	vertical-align: top;
	border-top: solid 1px #ddd;
}

table th {
	padding-top: 9px;
	font-weight: bold;
	vertical-align: middle;
}

table.condensed th, table.condensed td {
	padding: 5px 5px 4px;
}

table.bordered {
	border-collapse: separate;
	border: solid 1px #ddd;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

table.bordered th+th, table.bordered th+td, table.bordered td+td {
	border-left: solid 1px #ddd;
}

.zebra-striped tbody tr:nth-child(odd) td, .zebra-striped tbody tr:nth-child(odd) th
	{
	background: #f5f5f5;
}

.carbonad, .carbonad-image, .carbonad-text, .carbonad-tag {
	background: none !important;
	border: none !important;
	margin-left: 0 !important;
}

.carbonad-tag {
	margin-top: 6px !important;
	padding-top: 0 !important;
}

.carbonad-text {
	height: auto !important;
}

.carbonad-image {
	margin-top: 0 !important;
}

.hidden-text {
	font-size: 12px;
	color: #999;
}

td.date, th.date {
	text-align: right;
	white-space: nowrap;
}

td.date {
	font-style: italic;
}

form.note input[type="text"], form.note textarea {
	width: 100%;
}

form hr {
	width: 218px;
	margin: 10px 0px;
}

form.note textarea {
	height: 250px;
}

div.content-area {
	min-height: 600px;
}

hr.footer {
	margin-bottom: 10px;
}

div.footer {
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
}

form.sign-in {
	margin: 50px 0 0 0;
}

.sort_arrow {
	text-decoration: none;
}

.sort_arrow:hover {
	text-decoration: none;
	color: red;
}

div.sign-in-out-block {
	position: absolute;
	right: 14px;
	top: 8px;
	font-size: 12px;
}

div.sign-in-out-block form {
	margin: inherit;
}

div.sign-in-out-block input[type="submit"] {
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	text-decoration: underline;
	cursor: pointer;
	padding: inherit;
	margin: inherit;
}

div.sign-in-out-block a {
	/*text-decoration: none;*/
	
}

a.small-red {
	color: red;
	font-size: 12px;
}

table.notes {
	margin: 0 0 20px 0;
}

table.notes th.note {
	width: 72%;
}

table.notes td.pad {
	color: grey;
	white-space: nowrap;
}

table.notes td.pad a {
	color: grey;
	text-decoration: underline;
	font-style: normal;
	white-space: normal;
}

table.notes td.pad a:hover {
	color: black;
}

p.empty {
	color: grey;
	font-style: italic;
}

a.delete-note {
	float: right;
	font-size: 12px;
	color: red;
}

.red, input.red {
	color: red !important;
}

ul.errorlist, ul.errors {
	margin: -18px 0 0 0;
}

ul.errorlist li, ul.errors li {
	color: red;
}

.alert-area {
	text-align: center;
}

.alert {
	padding: 5px 8px;
	margin: 0 0 12px 0;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.alert-success {
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
}

.alert-error {
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #eed3d7;
}

pagination {
    text-align: center;
}

/* Mobile */
@media only screen and (max-width: 767px) {
	header h1 {
		font-size: 34px;
		line-height: 37px;
	}
	nav {
		position: relative;
	}
	nav ul, .carbonad {
		display: none;
	}
	#logo {
		text-align: left;
	}
	#examples .four.columns {
		padding-top: 30px;
	}
}

/* Mobile Landscape */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	nav ul {
		display: none;
	}
}

/* Non 960 */
@media only screen and (max-width: 959px) {
	#logo {
		font-size: 21px;
		margin-bottom: 15px;
	}
	nav .button {
		padding: 9px 20px 11px;
	}
}

/* iPad Portrait/Browser */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	nav {
		width: 124px;
	}
}

/* Mobile/Browser */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 959px) and
	(max-device-width: 1000px) {
}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px)
	{
}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and
	(max-device-width: 1000px) {
}

/* Anything smaller than standard 960 on a device */
@media only screen and (max-width: 959px) and (max-device-width: 1000px)
	{
	.resize {
		display: none;
	}
}