<div class="three columns">
  <h4 id="logo">My pads</h4>
  <nav>
    {% if pads.count %}
      <ul>
        {% for pad in pads %}
          <li><a href="{{ path('pad_notes', {'id': pad.id})}}">{{ pad.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
    <p class="empty">No pads</p>
    {% endif %}
  <hr />
  <a href="{{ path('pad_create') }}">New pad</a>
  </nav>
</div>
