{block title}New pad{/block}
{block content}
	<div class="sixteen columns">
		<h1 class="bold-header"><a n:href="Homepage:" class="header">note<span class="jam">jam:</span></a> <span>New pad</span>
		</h1>
	</div>
	{control pads}
	<div class="thirteen columns content-area">
		{control notes}
		<a n:href="Note:new $pad->id" class="button">New note</a>&nbsp;<a n:href="Pad:edit $pad->id">Pad settings</a>
	</div>
{/block}
