{block title}{$pad->name}{/block}
{block header}{$pad->name}{/block}
{block content}
	{form editPadForm}
		<div class="alert-area" n:if="$form->hasErrors()">
			<div n:foreach="$form->errors as $error" class="alert alert-error">{$error}</div>
		</div>
	{label name /}
	{input name}
	{input submit}
		<div><a n:href="Pad:delete $pad->id" class="red">Delete pad</a></div>
	{/form}
{/block}
