{block title}New pad{/block}
{block header}New pad{/block}
{block content}
	<form n:name="newPadForm" class="pad">
		<label n:name="name">Name</label>
		<input n:name="name">
		<input n:name="submit">
	</form>
{/block}
