# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning

parameters:
	srcDir: %appDir%/../src


php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: Notejam\*Module\Presenters\*Presenter


session:
	expiration: 14 days


includes:
	- services.neon
