Flask==1.1.2
Flask-Login==0.5
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.5.1
Flask-Testing==0.4.2
Flask-WTF==0.14.2
Jinja2==3.0.0
SQLAlchemy==1.4.15
Tempita==0.5.1
WTForms==2.1
Werkzeug==0.16.1
blinker==1.2
decorator==3.4.0
ipython==0.13.1
sqlalchemy-migrate==0.7.2
