{% extends "user.html" %}
{% from "_helpers.html" import render_field %}

{% block title %}Sign In{% endblock %}
{% block page_title %}<span>Sign In</span>{% endblock %}

{% block content %}
<form method="POST" class="offset-by-six sign-in">
  {{ form.hidden_tag() }}
  {{ render_field(form.email) }}
  {{ render_field(form.password) }}
  <input type="submit" value="Sign in"> or <a href="{{ url_for ('signup') }}">Sign up</a>
  <hr />
  <p><a class="small-red" href="{{ url_for('forgot_password') }}">Forgot password?</a></p>
</form>
{% endblock %}
